## gradle ##
.gradle/
out/
target/
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Directories ###
LOGS_IS_UNDEFINED/
logs/
json_in/
ssl/

### File types ###
*.bak
*.gz
*.jks
*.pem
*.p12
*.ks
*.der
*.ts
*.secrets

### Files ###
ip
