version: "3.7"
services:
  raspi-finance-endpoint:
    image: raspi-finance-endpoint
    build:
      context: ./
      args:
       - APP=raspi-finance-endpoint
       - TIMEZONE=America/Chicago
       - USERNAME=${USER}
       - CURRENT_UID=${CURRENT_UID}
       - CURRENT_GID=${CURRENT_GID}
      dockerfile: Dockerfile
    container_name: raspi-finance-endpoint
    restart: always
    ports:
      - "8443:8443"
    expose:
      - "8443"
    hostname: hornsup-endpoint
    volumes:
      - ./logs:/opt/raspi-finance-endpoint/logs
      - ./excel_in:/opt/raspi-finance-endpoint/excel_in
      - ./json_in:/opt/raspi-finance-endpoint/json_in
    extra_hosts:
      - "hornsup:${HOST_IP}"
      - "raspi:192.168.10.25"
    env_file:
      - env.secrets
    depends_on:
      - varnish-server
    # depends_on:
    #   logstash-server:
    #      condition: service_healthy
  # grafana-server:
  #   image: grafana/grafana:8.3.3
  #   user: "${CURRENT_UID}:${CURRENT_GID}"
  #   container_name: grafana-server
  #   hostname: grafana-server
  #   ports:
  #     - "3001:3000"
  #   expose:
  #     - "3001"
  #   volumes:
  #     - ./grafana-data:/var/lib/grafana
  #     - ./grafana-provisioning:/etc/grafana/provisioning
  #     - ./grafana-dashboards:/var/lib/grafana/dashboards
  #   env_file:
  #     - env.grafana
networks:
  default:
    name: finance-net
