<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<head>
    <title>Create Transactions</title>
</head>
<body>

<div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Payments</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Accounts</a>
            <div class="dropdown-content">
                <a th:each="account : ${accounts}" th:href="${account.accountNameOwner}" th:text="${account.accountNameOwner}"></a>
            </div>
        </li>
        <li><a href="create">Create Transaction</a></li>
        <li><a href="#find">Find Transactions</a></li>
    </ul>
</div>

<div class="title">
    <h2>Finance App</h2>
</div>

<div>
    <form class="form1" action="http://localhost:8080/insert" method="post" enctype="application/json">
        <!--
        <label for="guid">guid</label>
        <input id="guid" type="text" value="guid" disabled>
        -->
        <label for="transaction_date">Transaction Date</label>
        <input id="transaction_date" type="date" value="2018-11-02">

        <label for="account_name_owner">Account Name Owner</label>
        <select id="account_name_owner" name="account_name_owner">
            <option value="chase_brian">chase_brian</option>
            <option value="amex_brian">amex_brian</option>
            <option value="amex_brian">discover_brian</option>
        </select>

        <label for="account_type">Account Type</label>
        <select id="account_type" name="account_type">
            <option value="credit">credit</option>
            <option value="debit">debit</option>
        </select>

        <label for="description">Description</label>
        <input id="description" type="text" value="description">

        <label for="category">Category</label>
        <input id="category" type="text" value="category">

        <label for="amount">Amount</label>
        <input id="amount" type="number" step="0.01" value="0.00">

        <label for="cleared">Cleared</label>
        <select id="cleared" name="cleared">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
        </select>

        <label for="notes">Notes</label>
        <input id="notes" type="text" value="notes">

        <button>Submit</button>
    </form>
</div>

</body>
</html>