<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<link rel="stylesheet" th:href="@{/css/style.css}" />
-->
<head>
<meta charset="UTF-8">
<title>Account Transactions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#news">Payments</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Accounts</a>
            <div class="dropdown-content">
                <a th:each="account : ${accounts}" th:href="${account.accountNameOwner}" th:text="${account.accountNameOwner}"></a>
            </div>
        </li>
        <li><a href="transactionCreate">Create Transaction</a></li>
        <li><a href="transactionFind">Find Transactions</a></li>
    </ul>
</div>

<div class="title">
    <h2>Finance App</h2>
</div>

<!--
<div class="controls">
    <select class="form-control" name="example" id="example_id">
        <option value="0">ALL</option>
        <option th:each="account : ${accounts}" th:value="${account.accountId}" th:text="${account.accountNameOwner}">
        </option>
    </select>
</div>
-->
<div class="title2">
    <table>
        <tr>
            <td><b>totals cleared</b> = 0.00 </td>
            <td><b>totals NOT cleared</b> = 0.00</td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Transactions</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th align="left">action</th>
            <th align="left">date</th>
            <th align="left">description</th>
            <th align="left">category</th>
            <th align="left">amount</th>
            <th align="left">cleared</th>
            <th align="left">notes</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="transaction : ${transactions}">
            <td>
                <a class="btn btn-warning" href="/edit">Edit</a>
                <a class="btn btn-warning" href="/delete">Delete</a>
            </td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.category}"></td>
            <td th:align="right" th:text="${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 2, 'POINT')}"></td>
            <td th:align="center" th:text="${transaction.cleared}"></td>
            <td th:text="${transaction.notes}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
